<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blank</title>
    <base href="/">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" src="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" src="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" src="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" src="css/flaticon.css" type="text/css">
    <link rel="stylesheet" src="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" src="css/nice-select.css" type="text/css">
    <link rel="stylesheet" src="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" src="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" src="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" src="css/style.css" type="text/css">
    <!-- MDBootstrap Datatables  -->    
    <link href="css/mdb.min.css" rel="stylesheet">
    


</head>
<body>
    {{{ body }}}

    
    
</body>
</html>