<script type="text/javascript" src="js/mdb.min.js"></script>
<!-- Name input -->
<div class="form-group m-4">
  <select onchange="displayEditOptions()" name="rooms" id="rooms" class="form-control">
      <option value="" selected disabled>Choose Room Whose Info You want to change</option>
    {{#each allRooms}}
      <option value="{{ _id }}">{{ name }}</option>
    {{/each}}
  </select>
</div>

<hr>

<div id="editOptions"></div>
<script>
    function displayEditOptions() {
        var room = document.getElementById("rooms").value;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            console.log(JSON.parse(this.responseText));
            renderForm(JSON.parse(this.responseText));
        }
        };
        xhttp.open("GET", "/api/data?room=" + room, true);
        xhttp.send();
    };


    function renderForm(room){
        document.getElementById("editOptions").innerHTML = '';
        let roomFormHTML = `
        <form action="api/editRoom/${room._id}" method="post">
            <div class="form-group m-4">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="${room.name}">
            </div>
            <div class="form-group m-4">
                <label for="capacity">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3">${room.description}</textarea>
            </div>
            <div class="form-group m-4">
                <label for="totalRooms">Total Rooms</label>
                <input type="number" class="form-control" id="totalRooms" name="totalRooms" value="${room.totalRooms}">
            </div>
            <div class="form-group m-4">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" name="price" value="${room.price}">
            </div>
            <input type=submit class="btn btn-primary" value="Update Room Details">
        </form>

        `;
        document.getElementById("editOptions").innerHTML = roomFormHTML;
    };
</script>