    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-text">
                        <h2>Contact Info</h2>
                        <p>The Orange Sky Inn is situated near Palolem Beach. Do drop us a call or email to know more as per your convnience.</p>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="c-o">Address:</td>
                                    <td>Palolem Beach, Canacona, Goa, Pincode - 403702</td>
                                </tr>
                                <tr>
                                    <td class="c-o">Phone:</td>
                                    <td>+91 89508 90302, ‎+91 93068 63373, +91 85720 81747 </td>
                                </tr>
                                <tr>
                                    <td class="c-o">Email:</td>
                                    <td>orangeskybookings@gmail.com</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-7 offset-lg-1">
                    <form action="/api/addMyEmail" class="contact-form" method="POST">
                        <div class="row">
                            <div class="col-lg-6">
                                <input required type="text" placeholder="Your Name">
                            </div>
                            <div class="col-lg-6">
                                <input required type="text" placeholder="Your Email">
                            </div>
                            <div class="col-lg-12">
                                <textarea required placeholder="Your Message"></textarea>
                                <button type="submit">Submit Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d286.42869603234226!2d74.02743721496917!3d15.008805023399852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbe45de04d658d5%3A0xfc18b017c8a4226c!2sorange%20sky%20inn!5e0!3m2!1sen!2sin!4v1635842639316!5m2!1sen!2sin"
                    height="470" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->


