    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-text" style="text-align: center;">
                        <h1>Premium Beach Huts</h1>
                        <p>Here are the best beach-huts booking sites, offering you best stays at palolem goa beach.</p>
                        <a href="#" class="primary-btn">Discover Now</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                    <div class="booking-form" id="roomBooking">
                        <h3>Booking Your Hotel</h3>
                        <form action="#" id="checkAvailbityForm">
                            <div class="check-date">
                                <label for="date-in">Check In:</label>
                                <input onchange="dateChanged(event)" type="text" required name="checkInDate" class="date-input" id="checkInDate">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="check-date">
                                <label for="date-out">Check Out:</label>
                                <input type="text" required name="checkOutDate" class="date-input" id="checkOutDate">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="select-option">
                                <label for="guest">Guests:</label>
                                <select required name="adultNo" id="guest">
                                    <option value="1">1 Adults</option>
                                    <option value="2">2 Adults</option>
                                    <option value="3">3 Adults</option>
                                </select>
                            </div>
                            <div class="select-option">
                                <label for="room">Room:</label>
                                <select required name="roomNo" id="room">
                                    <option value="1">1 Room</option>
                                    <option value="2">2 Room</option>
                                    <option value="3">3 Room</option>
                                    <option value="4">4 Room</option>
                                </select>
                            </div>
                            <button type="submit" id="checkAvailabilityBtn">Check Availability</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="img/hero/hero-1.jpg"></div>
            <div class="hs-item set-bg" data-setbg="img/hero/hero-2.jpg"></div>
            <div class="hs-item set-bg" data-setbg="img/hero/hero-3.jpg"></div>
        </div>
    </section>
    <!-- Hero Section End -->    
    
    
    <!-- About Us Section Begin -->
    <section class="aboutus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <div class="section-title">
                            <span>About Us</span>
                            <h2>Beach-Huts near Palolem Beach <br />The 4th beautiful beach in Asia!!!</h2>
                        </div>
                        <p class="f-para">Orange Sky Inn is a leading online accommodation site. We’re passionate about
                            offering the best accomodation services with all modern Ammenities. Every day, we inspire and reach millions of tourists and make their
                            stay in Goa a beautiful stay.</p>
                        <p class="s-para">So when it comes to booking the perfect hotel, vacation rental, resort,
                            apartment, guest house, or tree house, we’ve got you covered.</p>
                        <a onclick="scrollToAmmenities()" class="primary-btn about-btn">See Our Ammenities</a>
                    </div>
                </div>
                <div class="col-lg-6 mt-4">
                    <div class="about-pic">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="img/about/a1.jpeg" alt="">
                            </div>
                            <div class="col-sm-6">
                                <img src="img/about/a2.jpeg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Section End -->

    <!-- Services Section End -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>What Do We Have to Offer You? </span>
                        <h2 id="scrollToDiv">Our Ammenities</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i style="background-image: url('/img/family.png'); width: 64px; height: 55px; background-size: cover;"></i>
                        <h4>Family Rooms</h4>
                        <p>Orange Sky Inn offers best family stay in Palolem Goa. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i style="background-image: url('/img/cutlery.png'); width: 64px; height: 55px; background-size: cover;"></i>
                        <h4>Restaurant</h4>
                        <p>Explore the best Restaurants in Palolem Goa. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i style="background-image: url('/img/ac.png'); width: 64px; height: 55px; background-size: cover;"></i>
                        <h4>AC Rooms</h4>
                        <p>Premium rooms with AC to cool you down.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i style="background-image: url('/img/parked-car.png'); width: 64px; height: 55px; background-size: cover;"></i>
                        <h4>Parking Aailable</h4>
                        <p>Worried about parking? We got you covered with out free parking services.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i style="background-image: url('/img/geyser.png'); width: 64px; height: 55px; background-size: cover;"></i>
                        <h4>Geyser</h4>
                        <p>Bathroom is well equipped with 24*7 available geysers.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i style="background-image: url('/img/wifi.png'); width: 64px; height: 55px; background-size: cover;"></i>
                        <h4>High-Speed WiFi</h4>
                        <p>Never compromise with connectivity! We offer 24*7 free access to WiFi.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Home Room Section Begin -->
    <section class="hp-room-section">
        <div class="container-fluid" style="padding-top: 70px;">
            <div class="hp-room-items">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <span>What's more for you? </span>
                            <h2 id="scrollToDiv">Coming Soon</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="img/room/ra1.jpg">
                            <div class="hr-text">
                                <h3>Trip Planners</h3>
                                <h2>12000₹<span>/Pertrip</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">1:</td>
                                            <td>Explore south goa</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">2:</td>
                                            <td>3-day/7-day trip</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">3:</td>
                                            <td>Exciting offers for you.</td>
                                        </tr>
                                        
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Stay, Travel, Local Guide, Adventure Sports, ...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="img/room/ra2.jpg">
                            <div class="hr-text">
                                <h3>Longer Stays</h3>
                                <h2>15000₹<span>/as low as </span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">1:</td>
                                            <td>Near-beach location.</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">2:</td>
                                            <td>stay above 14 days.</td>
                                        </tr>
                                        
                                        <tr>
                                            <td class="r-o">3:</td>
                                            <td>We got plans for you.</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Rooms, Breakfast, Adventure Sports, ...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="img/room/ra3.jpg">
                            <div class="hr-text">
                                <h3>Bike/Bicycle/Car rentals</h3>
                                <h2>50 - 2000₹<span>/Perday</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Bicycle:</td>
                                            <td>as low as 50₹</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bike/Scooty:</td>
                                            <td>as low as 300₹</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Car:</td>
                                            <td>as low as 1500₹</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Driver included with car, Local Guide, ...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="img/room/ra4.jpg">
                            <div class="hr-text">
                                <h3>Organize Events/Party</h3>
                                <h2>2000₹<span>/as low as</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Free Entry:</td>
                                            <td>for hotel residents.</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">A Minimal Price:</td>
                                            <td>for outsiders</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Other:</td>
                                            <td>personalized events</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Refreshments, DJ nights, ...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </section>
    <!-- Home Room Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Testimonials</span>
                        <h2>What Customers Say?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="testimonial-slider owl-carousel">
                        <div class="ts-item">
                            <p>After one full corporate year, my husband, my daughter and I
                                needed a place to chill out. As a India resident, we know a lot about Goa
                                city. We planned a vacation in Goa Palolem, our stay
                                at Orange Sky Inn Beach-Huts was an awesome experience. We can't stop ourselves to come here again😊.</p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <h5> - Arpita Jain</h5>
                            </div>
                            <img src="img/testimonial-logo.png" alt="">
                        </div>
                        <div class="ts-item">
                            <p>I always wanted to visit Goa. I was always looking for a place to
                                relax and unwind. So I planned a-week stay at Orange Sky inn.
                                I am completely satisfied with my stay. The staff is very generous.
                                i would love to visit once again if I get a chance to. </p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <h5> - Ramesh Singh</h5>
                            </div>
                            <img src="img/testimonial-logo.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->


    <script>
        const checkAvailbityForm = document.getElementById('checkAvailbityForm');
        const roomBooking = document.getElementById('roomBooking');

        checkAvailbityForm.addEventListener('submit', (e) => {
            e.preventDefault();
            document.getElementById('checkAvailabilityBtn').innerHTML = `
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                 Loading...
            `;
            const checkInDate = changeDateFormat(document.getElementById('checkInDate').value);
            const checkOutDate = changeDateFormat(document.getElementById('checkOutDate').value);
            const adultNo = document.getElementById('guest').value;
            const roomNo = document.getElementById('room').value;
            const roomId = '616d0d14cb6f6db1edd2f855';

            const url = `/api/rooms/checkAvailability?checkInDate=${checkInDate}&checkOutDate=${checkOutDate}&adultNo=${adultNo}&roomNo=${roomNo}&roomId=${roomId}`;

            fetch(url)
                .then(res => res.json())
                .then(data => {
                    console.log(data);
                    if (data.message === 'Room is available') {
                        alert('Room is available. \nClick OK to proceed on booking page.');
                        window.location.href = `/rooms/${roomId}?bool=true`;
                    } else {
                        alert('Room is Not Available. \nPlease Check for another Date.');
                    }
                    document.getElementById('checkAvailabilityBtn').innerHTML = `
                        Check Availability
                    `;
                })
                .catch(err => console.log(err));
        });


        function scrollToAmmenities () {
            console.log("scrollToAmmenities");
            document.getElementById('scrollToDiv').scrollIntoView({
                behavior: 'smooth'
            });
        }

        // function to change date from 29 October, 2021 to 2021-10-29 
        const monthWordToNumber = {
            "January": "01",
            "February": "02",
            "March": "03",
            "April": "04",
            "May": "05",
            "June": "06",
            "July": "07",
            "August": "08",
            "September": "09",
            "October": "10",
            "November": "11",
            "December": "12"
        }
        function changeDateFormat(date) {
            var dateArr = date.split(" ");
            console.log(dateArr);
            var newDate = dateArr[2] + "-" + monthWordToNumber[dateArr[1].slice(0, dateArr[1].length - 1)] + "-" + dateArr[0];
            return newDate;
        }

        function dateChanged(event) {
            var date = changeDateFormat(event.target.value);
            console.log(date);
        }
    </script>