<div style="width: 70%; text-align: center; margin: 0 auto;">
    <h3>Bookings Terms & Conditions</h3>

    <ul>
        <li>All rates are quote in Orange Sky Inn(Rosalie) which are exclusive of the government tax and service charge</li>
        <li>Additional tax of 12% will be applied to the total bill.</li>
        <li>Rates are subject to change without prior notice.</li>
        <li>Payment can be made by company’s cheque, cash or credit card.</li>
        <li>Booking is confired only after u pay the booking price.</li>
        <li>Check-in time is 12:30 pm and check-out time is 11.00 am.</li>
        <li>Early check-in are subject to room availability.</li>
        <li>For late check-out request, additional charge will be applied.</li>
        <li>No Free Cancellation. Once booked only 80% will be refunded.</li>
        <li>No Free Breakfast. Breakfast will be charged.</li>
        <li>Tentative Bookings means your booking will be subject to room availability on that day, which will be confirmed on the same day.</li>
    </ul>

    <br>
    <br>

    <h3>Refund Policy</h3>
    <ul>
        <li>80% Refund will be provided if cancelled.</li>
        <li>Refund will be provided only on the booking amount that you pay.</li>
    </ul>

    <br>
    <br>
    <h3>General Policy</h3>
    <p>The Hotel has a zero tolerance policy in which it will refuse to admit or refuse service or accommodation in the hotel or may remove a person who: while on the premises of the hotel acts in an obviously intoxicated or disorderly manner, destroys or threatens to destroy hotel property, or causes or threatens to cause a public disturbance; or refuses or is unable to pay for the accommodations or services. 

    12FLY Hotel may limit the number of persons who may occupy a particular guest room in the hotel and will only allow registered guests to use its facilities. 

    A person who negligently or intentionally causes damage to the hotel or any furniture or furnishings within the hotel, shall be liable for damages sustained by the hotel staff, including the hotel's loss of revenue resulting from the inability to rent or lease rooms while the damage is being repaired. 

    THE HOTEL’S MANAGEMENT RESERVES TO ITSELF THE RIGHT TO ADD TO, OR ALTER OR AMEND ANY OF THE ABOVE TERMS, CONDITIONS AND RULES WHICH ARE A PART AND AN ABSTRACT OF THE LODGING ACT.</p>

        
</div>
